<!DOCTYPE html>
<html>
      
<head>
    
    <style>
        .gfg {
        background-color: white;
        border: 2px solid black;
        color: green;
        padding: 5px 10px;
        text-align: center;
        display: inline-block;
        font-size: 20px;
        margin: 10px 30px;
        cursor: pointer;
        }
    </style>
</head>
  
<body>
    <form action="http://127.0.0.1/">
        <button class = "gfg" type="submit">
            NEW
        </button>
    </form>
</body>
  
</html>                    

{{ json_dump }}
